* {
  font-family: "Open Sans", Sans-Serif;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

p {
  text-align: left;
}

/* Add legend and date for the picture */
.leg, .date {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 5px;
}

/* Display pictures into a flexbox */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 15px 15px;
  padding: 10px 10px 0px 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon i {
  padding: 5px;
  color: gray;
}

.icon i:hover {
  color: black;
}

.img {
  display: flex;
  flex: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 0px;
  word-break: break-word;
  justify-content: center;
  align-items: center;
}

/* Awesome icon on error */
.img i {
  color: gray;
  font-size: 150px;
}

/* Create a dropzone with a button to upload pictures */
.dropzone {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px dashed #145DA0;
  margin: 10px;
}

/* Change label to mimic a button */
label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCFCFC;
  background-color: #2E8BC0;
  height: 40px;
  width: 300px;
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Change color on focus or hover events */
input:focus + label {
  background-color: #145DA0;
  outline: none;
}

input + label:hover {
  background-color: #145DA0;
  outline: none;
}

/* Hide the input field but keep the focus on it */
input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* Awesome icon on label */
label > i {
  font-size: 20px;
  padding-right: 10px;
}